# Used by pip to install required python packages
# Usage: pip install -r requirements.txt

Flask==0.12.3
pandas
matplotlib
requests
seaborn
ploty
xgboost
lightgbm
scikit-learn
fbprophet
tensorflow
keras
pip install squarify
pip install plotly-express

for jupyter notebook - run the code in colab
for app- run in cmd - python app.py
